<!--COMMENTS MODAL-->
  <div class="modal fade" id="feedModal" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">

      <div class="modal-content row">
        <!-- Modal body -->
        <div class="modal-photo-container col-xs-6 class">
          <div class="pic-col">
            <img class="fill" src="img/post1.jpg">
          </div>
        </div>
        <div class="modal-comment-container col-xs-6 class">
          <div class="comment-container">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-header">
              Comments
            </div>

            <div class="comments">
              <!--FIRST COMMENT-->
              <div class="comment-cont">
                <img src="img/le.jpg">
                <div class="row-name">
                  <strong> Leanne Marie Loyola</strong>
                  <div class="row-comment text-break">
                    Wow! This is so COOL!
                  </div>
                </div>
              </div>
              <!-- SECOND COMMENT-->
              <div class="comment-cont">
                <img src="img/boss.jpg">
                <div class="row-name">
                  <strong> Louis Dela Cruz</strong>
                  <div class="row-comment text-break">
                    XD
                  </div>
                </div>
              </div>

              <div class="comment-cont">
                <img src="img/raf.jpg">
                <div class="row-name">
                  <strong> Rafael Maderazo</strong>
                  <div class="row-comment text-break">
                    Prayer meeting? 👀
                  </div>
                </div>
              </div>

              <div class="comment-cont">
                <img src="img/thea.jpg">
                <div class="row-name">
                  <strong> Thea Go</strong>
                  <div class="row-comment text-break">
                    mama mo
                  </div>
                </div>
              </div>

              <div class="comment-cont">
                <img src="img/mica.jpg">
                <div class="row-name">
                  <strong>Michaela Dizon</strong>
                  <div class="row-comment text-break">
                    hrmpf
                  </div>
                </div>
              </div>

              <div class="comment-cont">
                <img src="img/albert.jpg">
                <div class="row-name">
                  <strong>Albert Bofill</strong>
                  <div class="row-comment text-break">
                    Yawa
                  </div>
                </div>
              </div>
            </div>

            <div class="comment-form">
              <form class="col-lg">
                <div class="form-row">
                  <div class="comment-input">
                    <input class="addcomment form-control mr-sm-2" type="text" placeholder="comment" aria-label="Search">
                  </div>
                  <div class="comment-button">
                    <button type="button" class="addcommentbtn btn btn-secondary">Comment</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>