<div id="post-container">
    <div id="post">
      <div id="photo-container">
        <div id="photo">
          <img class="fill" src="img/post1.jpg">
        </div>
      </div>

      <div id="meta-container">
        <div id="meta">
          <div class="photo-header">
            The Moon
            <br>
            <br>
            <span class="author">by Eugenio Pastoral</span>
            <br>
            <span class="date">8 hours ago</span> <br>
          </div>
          <hr>
          <div class="photo-description">
            Ever wondered what the night sky would look like if you could see the Moon and stars at the same time. Well, here you go, an HDR photo of the moon.
            <br> <br>
            I’ve been taking photos of the moon for months but I haven’t tried this one before. Essentially, this is a composite of 4 photos: the moon tonight (both exposed for the moon and the sky), the full moon from last week, and the night sky from a year ago. Got into the idea of doing this when I saw Andrew McCarthy’s photos on Instagram. Never really had the chance to do this until tonight.
            <br> <br>
            I did some light processing on all 4 photos with Lightroom. I then used Photoshop to create the composite. The starry night sky photo was used as the background. I then masked the moon photo from tonight so that it will blend well with the background. After which, I added in the other moon photo from tonight that is exposed for the night sky (the blown out moon photo) so that the moon will have its glow. For the dark part, I used my picture of the full moon to add in some detail.
          </div>

          <div class="photo-actions">
            <img class="socact-action" src="img/heart.png">
            <a href="#" class="socact-container" data-toggle="modal" data-target="#feedModal">
              <img class="socact-action" src="img/comment.png">
            </a>
            <img class="socact-action" src="img/share.png">
          </div>
        </div>
      </div>
    </div>
  </div>