<!--ADD POST MODAL-->
  <div class="modal fade" id="postModal" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">

      <div class="modal-content ">
        <!-- Modal body -->
        <div class="modal-post-container">
          <div class="modal-header">
            Add Post
          </div>
          <form id='addPostForm'method='POST' action='/postprocessing'>


          <input name='upload' class='filepond' type='file'>

          <div class="modal-post-fields">
            <input name = 'post_title'class="addposttitle form-control mr-sm-2" type="text" placeholder="title" maxlength = "35">
          </div>
            <textarea name = 'descriptor' form ='addPostForm' wrap='hard' class="addpostdesc form-control mr-sm-2" type="text" placeholder="description"></textarea>
          <div class="addpost-button">
            <button type="submit" class="addpostbtn btn btn-secondary">Post</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  
