<!-- TEST -->
<div class="profile-posts-container">
      <div class="prof-posts-center">
        <div class="profile-posts">
          <div class="gallery">
            <div class="gallery-row">
              <div class="gallery-column">

                <a  href="#" class="thumbnail" data-toggle="modal"
                data-target="#view-pic">

                  <div class="gallery-item-container thumb">
                    <img src="img\post1.jpg">
                  </div>
                </a>

                <a href="#" class="thumbnail" data-toggle="modal"
                data-target="#view-pic" >
                  <div class="gallery-item-container thumb">
                    <img src="img\albert.jpg">
                  </div>
                </a>
                <a href="#" class="thumbnail" data-toggle="modal"
                data-target="#view-pic" >
                  <div class="gallery-item-container thumb">
                    <img src="img\raf.jpg">
                  </div>
                </a>

              </div>

              <div class="gallery-column">
                <a href="#" class="thumbnail" data-toggle="modal"
                data-target="#view-pic" id="pic4">
                  <div class="gallery-item-container thumb">
                    <img src="img\landing0.jpg">
                  </div>
                </a>
                <a href="#" class="thumbnail" data-toggle="modal"
                data-target="#view-pic" id="pic5">
                  <div class="gallery-item-container thumb">
                    <img src="img\landing1.jpg">
                  </div>
                </a>
                <a href="#" class="thumbnail" data-toggle="modal"
                data-target="#view-pic">
                  <div class="gallery-item-container thumb">
                    <img src="img\landing0.jpg">
                  </div>
                </a>
              </div>

              <div class="gallery-column">
                <a href="#" class="thumbnail" data-toggle="modal"
                data-target="#view-pic">
                  <div class="gallery-item-container thumb">
                    <img src="img\landing3.jpg">
                  </div>
                </a>
                <a href="#" class="thumbnail" data-toggle="modal"
                data-target="#view-pic">
                  <div class="gallery-item-container thumb">
                    <img src="img\landing4.jpg">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>