<!-- TEST -->
<div class="profile-posts-container">
  <div class="prof-posts-center">
    <div class="profile-posts">
      <div class="gallery">
        <div class="gallery-row">
          {{#each posts}}
          <div class="gallery-column col1">
            <a  href="#" class="thumbnail" data-toggle="modal"
            data-target="#view-pic">

            <div class="gallery-item-container thumb">
              <img src="img/{{this.post_name}}">
            </div>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
