@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  width:375px;
  border-radius: 5px;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #f8f9fa;
  position: absolute;
  width: 375px;
  border: 0.25px solid #A8A8A8;
  border-radius: 0px 0px 5px 5px;
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: #212529;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  padding-bottom: 15%;
  align-items: center;
}

.profile-red, .profile-blue
{
  opacity: 100%;
}

.row-name{
  font-size: 14px;
  display: inline-block;
}

.row-comment{
  font-size: 12px;
  position: relative;
  vertical-align: middle;
}

.commment-cont {
  margin-top: auto;
  margin-bottom: auto;
  align-content: center;
  vertical-align: middle;
  margin-bottom: 500px;
}

.comment-cont img{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5%;
  margin-right: 2%;
  width: 15%;
  border-radius: 100%;
}
/*
.delete-comm, .edit-post, .delete-post
{
  margin-top: 8%;
  float: right;
  font-size: 11px;
}
*/

html {
  overflow-x: hidden;
}

h1 {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 500;
}

hr {
  margin-left: 10%;
  margin-right: 5%;
}

#navcontent {
  margin-left: 1.5%;
  margin-right: 1.5%;
}
nav{
  position: relative;
}
#navfolio {
  float: left;
}

#navsearch {
  padding-top: .5%;
  width: 100%;
  text-align: center;
  align-content: center;
}

#navuser {
  padding-top: .5%;
  padding-right: 2%;
  position: relative;
  float: right;
  width: 10%;
  right: 0;
}

#post-container {
  transform: translateY(60px);
  width: 100%;
}

#post {
  width: 100vw;
  height: calc(100vh - 60px);
}

#photo-container {
  position: relative;
  float: left;
  width: 65%;
  height: 100%;
}

#meta-container {
  position: relative;
  float: left;
  width: 35%;
  height: 100%;
}

#photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60vw;
  height: 60vh;
  border-radius: 5px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.4);
  justify-content: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 1;
}


#meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 100vh;
}

.photo-actions {
  padding-top: 5%;
}

.socact-container{
  height: 50px;
  width: 50px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
}

.socact-action {
  margin-right: 20px;
  height: 30px;
  width: 30px;
}

.author, .date {
  font-size: 15px;
  font-weight: normal;
  color: #2e2e2e;
  float: left;
}

.photo-header {
  margin-right: 5%;
  font-size: 60px;
  font-weight: bold;
  line-height: 20px;
  color: #2e2e2e;
  float: left;
}

.photo-description {
  font-size: 15px;

}
.desc-js{
  white-space: pre;
  float: left;
}
.title-js{
  word-wrap: break-word;
  float: left;
  font-size: 7vh;
  line-height: 2.2vh;
}
.navbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.4);
}

.nav-avatar {
  width: 40px;
  height: inherit;
  border-radius: 50px;
  border-color: #A8A8A8;
  border-style:solid;
  border-width: 0.25px;
  list-style-image: url(img/avatar.jpg) 0 0;
}

.col .nav-avatar{
  float: right;
  position: relative;
  left: 40%;
}

.nav-post {
  width: 40px;
  height: inherit;
  list-style-image: url(img/post.png) 0 0;
}

::placeholder {
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  color: #a8a8a8;
}

a:hover ,span{
  text-decoration: none;
  color: black;
}

.custom-prof-pic-cont img
{
  width:40%;
  border-radius: 100%;
  position: relative;
  top: 50%;
}

.custom-prof-pic-cont
{
  vertical-align: middle;
  align-content: center;
}
.custom-prof-pic-cont input
{
  margin: 30px;
  position: relative;
  left:10%;
}

.new-data label
{
  position: relative;
  left: 2%;
}
.new-data textarea{
  resize: none;
  height: 50%;
  border-radius:30px;
}

.edit-done button
{
  border-radius: 50px;
}

#navfolio #home-red
{
  text-decoration: none;
}
.prof-img-cont
{
  margin-bottom: 2%;
}

#bioLocCont {
  position: relative;
  top: 15vh;
  width: 40vw;
}

#reg_avatar
{
  position: relative;
  top: 20vh;
  width: 70vw;
}

#nextBut {
  border-radius: 60px;
  width: 6vw;
}

#loc_assign
{
  border-radius: 60px;
}
