::-webkit-scrollbar {
  display: none;
}
.modal-comment-container {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 40%;
}

.modal-content {
  height: 75vh;
  position: relative;
  top: 5vh;
  width: 60vw;
  margin: 0;
  border-radius: 5px;
}

.modal-dialog {
  width: max-width;
  height: max-height;
}

.modal-footer {
  border-top: 0 none;
}


.modal-title {
  font-size: 45px;
}

.modal-body .btn-primary {
  background-color: #00B0FB;
  border-radius: 50px;
  margin:2%;
}

.modal-body .btn-danger {
  margin:2%;
  border-radius: 50px;
}

.modal-post-header {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.modal-post-container {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2%;
  overflow: scroll;
}

.modal-photo-container {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 100%;
}
/*
.modal-post-fields {

}*/

.pic-col {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 1;
}

.pic-row {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.comment-container {
  height: 100%;
  width: 100%;
  padding: 10%;
}

.comments {
  float: left;
  width: 100%;
  height: 90%;
  max-height: 90%;
  overflow: scroll;
}

.comment-form {
  padding-bottom: 10%;;
  float: left;
  width: 100%;
  height: 10%;
}

.modal-header {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  line-height: 20px;
  color: #2e2e2e;
  border-width: 0;
}

.modal-header button{
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 0px;
  margin-left: 0px;
}

.fill {
  flex: 1;
  height: 100%;
}

.fill-row {
  flex: 1;
  width : 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.comment-input {
  width: calc(80% - 35px);
  margin-right: 15px;
}

.comment-button {
  width: 35px;
}

.addcomment{
  display: inline-block;
  padding-top: .5%;
  position: relative;
  width: 100%;
  left: 0;
  text-align: center;
}

.addcommentbtn{
  border-radius: 50px;
  height: 38px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: smaller;
}

.addcomment-container{
  display: inline-block;
}

.addpost-button {
  padding-top: 5%;
  position: relative;
  left: 6vw;
  margin: auto;
  width: 200px;
}

.addpostbtn, .editpostbtn{
  border-radius: 10px;
  display: inline-block;
  height: 40px;
  text-align: center;
  font-size: smaller;
  margin-left: 10px;
}

.addpostdesc{
  display: inline-block;
  margin-top: 2.5%;
  position: relative;
  width: 100%;
  height: 75vh;
  left: 0;
  text-align: center;
  border-radius: 10px;
  resize: vertical;
  white-space: pre-wrap;
}

.addposttitle{
  display: inline-block;
  padding-top: 3%;
  position: relative;
  width: 100%;
  height: 10%;
  left: 0;
  text-align: center;
  border-radius: 10px;
}

.addpostimg{
  display: inline-block;
  padding-top: .5%;
  position: relative;
  width: 100%;
  height: 10%;
  left: 0;
  text-align: left;
}

.form-control {
  background-color: #e4e4e4;
  border-radius: 10px;
}

#view-pic-cont
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60vw;
  height: 60vh;
  border-radius: 5px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.4);
  justify-content: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 1;
}

.filepond--root {
  position: relative;
  height: 50vh;
  min-width: 55vw;
}

